* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: sans-serif;
}

/* --------------- navigation----------------- */

header {
  background: transparent;
  width: 100%;
  position: relative;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-200%);
  transition: 0.3s;
}

body.scroll header.sticky {
  transform: translateY(0);
}

header .logo img {
  max-width: 100px;
}

.nav-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;
}

nav.nav-wrapper ul li a {
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  color: white;
  padding-bottom: 3px;
  transition: 0.3s;
}

nav.nav-wrapper ul li a:hover {
  border-bottom: 1px solid #fff !important;
}

.cover-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

/* -----------------Responsive menu--------------------------- */

@media only screen and (max-width: 768px) {
  .menu-trigger {
    width: 35px;
    height: 35px;
    display: block;
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 15px;
    background: url("../img/noun_hamburger.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.72);
    display: none;
  }

  .main-overlay:after {
    background: url("../img/noun_Close.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: block;
    content: "";
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 20;
  }

  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #131313;
    width: 100%;
    max-width: 300px;
    z-index: 30;
    transform: translate3d(-100%, 0, 0);
    transition: 0.3s;
  }

  nav.nav-wrapper ul li {
    display: block;
    margin-top: 20px;
    padding: 0;
    padding-bottom: 20px;
  }

  nav.nav-wrapper ul li a {
    font-size: 18px;
    line-height: 23px;
  }

  nav.nav-wrapper ul li a:hover {
    border: transparent;
  }

  body.menu-is-active .menu {
    transform: translate3d(0, 0, 0);
    display: block;
    padding: 0 15px;
  }

  body.menu-is-active .main-overlay {
    display: block;
  }

  body.menu-is-active .menu-trigger {
    display: none;
  }
}
