* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --brand-color: #00acee;
  --nav-overlay-bg: #f0f0f0;
}

body {
  font-family: sans-serif;
}

button:focus,
button:active button:hover .btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

/* --------------- navigation----------------- */

header {
  background: transparent;
  width: 100%;
  position: relative;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-200%);
  transition: 0.3s;
}

header .menu-icon {
  position: absolute;
  top: 15px;
  right: 24px;
  font-size: 30px;
  color: var(--brand-color);
  cursor: pointer;
  z-index: 10;
}

header .menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--nav-overlay-bg);
  overflow: hidden;
  transition: 1s ease-in-out;
}

header .menu-content {
  /* display: inline-block; */
  /* padding: 0 10px; */
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 25px;
  position: relative;
  list-style: none;
}

header .menu-content li a {
  color: var(--brand-color);
  font-size: 17px;
  padding: 16px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

header .menu-container .close-btn {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 30px;
  color: var(--brand-color);
  z-index: 2;
  cursor: pointer;
  display: none;
}

body.scroll header.sticky {
  transform: translateY(0);
}

body.menu-is-active .menu-container {
  height: 100%;
}

body.menu-is-active .menu-icon {
  display: none;
}

body.menu-is-active .close-btn {
  display: block;
}

header .logo img {
  max-width: 100px;
  /* z-index: 5; */
}

header .logo {
  top: 25%;
  position: absolute;
  left: 50vw;
  top: 15px;
  right: 24px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.cover-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

/* ===================ABout======================== */
.about {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../img/about.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  /* background-attachment: fixed; */
  height: 90vh;
}

.about .about-footer {
  margin: 90px auto 0 auto;
  font-weight: 500;
  align-self: flex-end;

  text-align: center;
}
/* ===================ABout======================== */

/* ===================showcase======================== */
.work {
  /* display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.work .work-tile {
  position: relative;
}

.work-tile > span {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  /* opacity: 0.9; */
  /* filter: brightness(2); */
}
/* ===================showcase======================== */

/* =================== tabs ======================== */

section.tabs-display .tabs-buttons {
  margin-top: 30px;
  margin-bottom: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.tabs-display .tabs-buttons > .button-group {
  display: flex;
  justify-content: space-between;
}

section.tabs-display .tabs-buttons > .button-group button {
  color: var(--brand-color);
  background: transparent;
  border: none;
  font: normal 500 san-serif;
  text-transform: uppercase;
}

section.tabs-display .tabs-buttons > .button-group button.active {
  color: var(--brand-color);
}

section.tabs-display .button-group button + button {
  margin-left: 3rem;
}
/* =================== tabs ======================== */

/* =================== Directors======================== */

section.directors {
  padding: 4rem 0;
}

section.directors .header-directors {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/YTbanner.jpg");
  background-size: cover;
  background-repeat: none;
  color: #fff;
  /* background-attachment: fixed; */
  height: 90vh;
}

section.directors .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px san-serif;
  text-transform: uppercase;
  color: #fff !important;
}

section.directors .button-group button + button {
  padding-left: 3rem;
}

section.directors .grid .our-project > .title h4 {
  font-family: normal 700 24px/12px;
}

section.directors .grid .our-project > div.img:hover {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* =================== 
Directors======================== */

/* =================== 
contact area======================== */

section.contact {
  padding: 5rem 0;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.social {
  text-align: center;
  margin-top: 2vh;
}

.social a {
  cursor: pointer;
  padding: 0px 20px;
  display: inline-block;
  animation: animate 2s 1;
  text-decoration: none;
}

.social i.fa {
  font-size: 30px;
  padding: 2rem;
  color: #951c49;
  transform: scale(0.9);
  transition: 0.3s;
}

.social i.fa:hover {
  color: rgba(0, 212, 255, 1);
  transform: scale(1.2);
}

/* =================== 
contact area======================== */

/* -----------------Responsive menu--------------------------- */

@media only screen and (max-width: 768px) {
  /* .menu-trigger {
    width: 35px;
    height: 35px;
    display: block;
    z-index: 10;
    position: absolute;
    right: 20px;
    top: 15px;
    background: url("../img/noun_hamburger.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: cyan;
  }

  .main-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.72);
    display: none;
  }

  .main-overlay:after {
    background: url("../img/noun_Close.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: block;
    content: "";
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 20;
  }

  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #131313;
    width: 100%;
    max-width: 300px;
    z-index: 30;
    transform: translate3d(-100%, 0, 0);
    transition: 0.3s;
  }

  nav.nav-wrapper ul li {
    display: block;
    margin-top: 20px;
    padding: 0;
    padding-bottom: 20px;
  }

  nav.nav-wrapper ul li a {
    font-size: 18px;
    line-height: 23px;
  }

  nav.nav-wrapper ul li a:hover {
    border: transparent;
  }

  body.menu-is-active .menu {
    transform: translate3d(0, 0, 0);
    display: block;
    padding: 0 15px;
  }

  body.menu-is-active .main-overlay {
    display: block;
  }

  body.menu-is-active .menu-trigger {
    display: none;
  } */
}
