/*  */
@media only screen and (max-width: 320px) {
  .cover-main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../img/hero320-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    background-position: center;
  }

  /* ======= About ========= */
  .about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
      url("../img/about-min.jpg");
    font-weight: 480;
    padding-bottom: 40px;
    height: 100vh;
    font-size: 15px;
  }

  .about .about-content {
    width: 83%;
  }

  .about .scream {
    font-size: 55px;
    opacity: 0.28;
    bottom: 0;
    top: 42%;
    left: 5%;
    font-weight: 600;
    line-height: 80px;
  }

  /* ======= About end===== */

  /* ========= tabs======== */

  section.tabs-display {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  section.tabs-display .tabs-buttons > .button-group a {
    font-size: 12.3px;
  }

  section.tabs-display .tabs-buttons > .button-group a + a {
    padding-left: 0.1rem;
    padding-bottom: 0.9rem;
  }

  .adverts-tabs {
    height: 100%;
    left: 0% !important;
    width: 100% !important;
  }

  /* ============  tabs end=============== */

  /* ============= directors ============= */

  section.directors .header-directors {
    padding-top: 40vh;
  }

  section.directors .tabs-buttons {
    margin-top: 10px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.directors .tabs-buttons > .button-group {
    display: flex;
    justify-content: space-evenly;
  }

  section.directors .tabs-buttons > .button-group button + button {
    padding-left: 0.1rem;
    padding-bottom: 0.9rem;
  }
  /* ==============  contact card ===================== */
  section.contact {
    padding: 120px 10px;
    background-color: var(--nav-overlay-bg);
  }

  section.contact .contact-cols {
    max-height: 300px;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 12px;
  }

  .contact-cols.contact-right ul {
    text-align: left;
    left: 0%;
  }
  /* ================ contact card end ====================== */
}

@media only screen and (min-width: 360px) {
  /* ==============  contact card ===================== */
  section.contact {
    padding: 120px 0px;
  }

  /* ================ contact card end ====================== */
}

@media only screen and (max-width: 495px) {
  section.directors .tabs-buttons > .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  section.directors .button-group button {
    background: transparent;
    border: none;
    padding: 0px 20px;
    margin-bottom: 20px;
    font: normal 500 1rem;
    text-transform: capitalize;
    color: #fff;
  }
}

@media only screen and (max-width: 568px) {
  .cover-main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../img/hero320-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    background-position: center;
  }
}

@media only screen and (max-width: 768px) {
  section.tabs-display .tabs-buttons > .button-group a + a {
    padding-left: 0.1rem;
    padding-bottom: 0.9rem;
  }

  section.contact .contact-cols {
    height: 300px;
    width: 320px;
    border-radius: 8px;
    margin-bottom: 12px;
    margin: 0 auto 15px;
  }

  .contact-cols.contact-right ul {
    text-align: left;
    left: 0%;
  }
}

@media only screen and (max-width: 990px) {
  /* ==============  contact card ===================== */
  section.contact {
    padding: 120px 0px;
    background-color: var(--nav-overlay-bg);
  }

  section.contact .contact-cols {
    height: 300px;
    width: 360px;
    border-radius: 8px;
    margin-bottom: 12px;
    margin: 0 auto 15px;
  }

  .contact-cols.contact-right ul {
    /* text-align: right; */
    left: 10%;
  }
  /* ================ contact card end ====================== */
}
